<div class="spots-index">
    <h1 class="title"><%= t('.title') %></h1>
    <%= form_with url: spots_path, method: :get  do |f| %>
      <div class="form-group">
        <%= f.text_field :keyword, placeholder: "検索キーワード", class:"text-field" %>
        <%= f.submit t('.search'), class: "submit"%>
      </div>
    <% end %>
    <% if @search_results %>
      <% @search_results.each do |spot| %>
        <div class="spot-container">
          <%= image_tag spot.image_url, class:"image" %>
          <div class="spot-name-address">
            <div class="spot-name">
              <%= spot.spot_name %>
            </div>
            <p class="spot-address"><%= spot.address %></p>
          </div>
        </div>
      <% end %>
    <% end %>
<div>
