<div class="spots-index">
    <h1 class="title"><%= t('.title') %></h1>
    <%= form_with url: spots_path, method: :get  do |f| %>
      <div class="form-group">
        <%= f.text_field :keyword, placeholder: "検索キーワード", class:"text-field" %>
        <%= f.submit t('.search'), class: "submit"%>
      </div>
    <% end %>
    <% if @search_results %>
      <turbo-frame>
        <%= render partial: "spot", collection: @search_results %>
        <div class="pagination">
          <% if @first_page %>
            <%= link_to t('.first_page'), spots_path(page: @first_page, keyword: @keyword), class:"page_link", data: { turbo_frame: "_top"} %>
          <% end %>
          <% if @previous_page %>
            <%= link_to t('.previous_page'), spots_path(page: @previous_page, keyword: @keyword), class:"page_link", data: { turbo_frame: "_top" } %>
          <% end %>
          <% (1..@total_page).each do |page| %>
            <% if page == @current_page %>
              <span class="current_page_link"><%= @current_page %></span>
            <% else %>
              <%= link_to page, spots_path(page: page, keyword: @keyword), class:"page_link", data: { turbo_frame: "_top"} %>
            <% end %>
          <% end %>
          <% if @next_page %>
            <%= link_to t('.next_page'), spots_path(page: @next_page, keyword: @keyword), class:"page_link", data: { turbo_frame: "_top"} %>
          <% end %>
          <% if @last_page %>
            <%= link_to t('.last_page'), spots_path(page: @last_page, keyword: @keyword), class:"page_link", data: { turbo_frame: "_top"} %>
          <% end %>
        </div>
      </turbo-frame>
    <% elsif  %>
      <div class="no_search_result">
        <i>該当するスポットが見つかりませんでした</i>
        <i class="fa-regular fa-face-sad-tear"></i>
        <p>キーワードを変えてお試しください</p>
      </div>
    <% end %>
<div>
