<turbo-frame id="phase">
  <div class="label-container">
    <div class="suggestion-vote-hilight-link">
      <%= link_to t('trips.show.suggestion-phase'), suggestion_trip_path(trip), data: { turbo_frame: "phase"} %>
    </div>
    <div class="suggestion-vote-link">
      <%= link_to t('trips.show.vote-phase'), vote_trip_path(trip), data: { turbo_frame: "phase"} %>
    </div>
  </div>
  <div class="suggestion-vote-container">
    <div class="suggestion-vote-card-style">
        <div class="suggestion-vote-limit">
          <%= t('trips.show.suggestion-limit') %><%= (trip.spot_suggestion_limit - Date.today).to_i %>日
        </div>
        <% if spot_suggestions.present? %>
          <div class="spot-suggestion-vote-headline">
            <%= t("trips.show.spot-suggestions") %>
          </div>
          <div class="spot-image-container">
            <%= render partial: "spot", collection: spot_suggestions, :as => "spot", locals: { spot_suggestion_by_user: spot_suggestion_by_user } %>
          </div>
        <% else %>
          <div class="no-spot-suggestion-vote-headline">
            <%= t('trips.show.no-spot-suggestions') %>
          </div>
        <% end %>
        <%= link_to trip_spots_path(trip), data: { turbo_frame: "_top"} do %>
          <div class="spot-add-container">
            <div class="spot-add">
              <%= t('trips.show.spot-add')%>
            </div>
            <div class="spot-add">
              <i class="fa-solid fa-circle-plus"></i>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</turbo-frame>