<turbo-frame id="phase">
  <div class="label-container">
    <div class="suggestion-vote-link">
      <%= link_to t('trips.show.suggestion-phase'), suggestion_trip_path(trip), data: { turbo_frame: "phase"} %>
    </div>
    <div class="suggestion-vote-hilight-link">
      <%= link_to t('trips.show.vote-phase'), vote_trip_path(trip), data: { turbo_frame: "phase"} %>
    </div>
  </div>
  <div class="suggestion-vote-container">
    <div class="suggestion-vote-card-style">
      <div class="suggestion-vote-limit">
        <%= t('trips.show.vote-limit') %><%= (trip.spot_vote_limit - Date.today).to_i  %>日
      </div>
      <% if spot_suggestions.present? %>
        <%= form_with model: [@trip, SpotVote.new] do |f| %>
          <div class="spot-image-container">
            <%= render partial: "spot", collection: spot_suggestions, :as => "spot_suggestion", locals: { trip: trip, show_delete_link: false, show_check_box: true } %>
          </div>
          <div class="submit-form">
            <%= f.submit t('trips.show.submit'), class:"submit-button" %>
          </div>
        <% end %>
      <% else %>
        <div class="no-spot-suggestion-vote-headline">
          <%= t('trips.show.no-spot-suggestions') %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>