<div class="suggestion-vote-container">
  <div class="suggestion-vote-card-style">
    <div class="vote-result-title">
      <%= t('trips.show.vote-result')%>
    </div>
    <div class="vote-result-headline">
      <%= t('trips.show.vote-result-headline') %>
    </div>
    <%= form_with url: trip_plans_path(trip), data: { turbo: false }, method: :post do |f| %>
      <div class="spot-image-container">
        <%= render partial: "spot", collection: voted_result, :as => "spot_suggestion", locals: { trip: trip, show_delete_link: false, show_check_box: false} %>
      </div>
      <div class="submit-form">
        <%= f.submit t('trips.show.plan-create'), class:"submit-button" %>
        <% voted_result.each do |spot| %>
          <%= hidden_field_tag "spot_unique_numbers[]", spot.spot.unique_number, data: { turbo_frame: "_top" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
