<div class="trips-new">
  <div class="card-style">
    <%= form_with model: @trip do |f| %>
    <div class="form-group">
      <div class="icon-label">
        <div>
          <i class="fa-solid fa-book-open"></i>
        </div>
        <div>
          <%= f.label :title, class:"form-label" %>
        </div>
      </div>
      <%= f.text_field :title, class:"text-field" %>
    </div>
    <div class="form-group">
      <div class="icon-label">
        <i class="fa-solid fa-calendar-days"></i>
        <%= f.label :date, class:"form-label" %>
        <i class="date-sub-title"><%= t('.date-sub-title') %></i>
      </div>
      <%= f.text_field :date, class: "calendarpickr calendar-field", placeholder: "年/月/日" %>
    </div>
    <div class="form-group">
      <div class="icon-label">
        <i class="fa-solid fa-plane"></i>
        <%= f.label :distination, class:"form-label" %>
      </div>
      <%= f.text_field :distination, class:"text-field" %>
    </div>
    <p class="spot-limit-title"><%= t('.spot-limit-title') %></p>
    <div class="form-spot-limit">
      <div class="spot-suggestion-limit">
        <div class="icon-label">
          <i class="fa-solid fa-clock"></i>
          <%= f.label :spot_suggestion_limit %>
        </div>
        <%= f.text_field :spot_suggestion_limit, class: "calendarpickr calendar-field", placeholder: "年/月/日" %>
      </div>
      <div class="spot-vote-limit">
        <div class="icon-label">
          <i class="fa-solid fa-clock"></i>
          <%= f.label :spot_vote_limit %>
        </div>
        <%= f.text_field :spot_vote_limit, class: "calendarpickr calendar-field", placeholder: "年/月/日" %>
      </div>
    </div>
    <p class="spot-time-title"><%= t('.spot-time-title') %> </p>
    <div class="form-spot-time">
      <div class="start-time">
        <div class="icon-label">
          <i class="fa-solid fa-clock"></i>
          <%= f.label :start_time %>
        </div>
        <%= f.text_field :start_time, class: "timepickr time-field", placeholder: "--:--" %>
      </div>
      <div class="finish-time">
        <div class="icon-label">
          <i class="fa-solid fa-clock"></i>
          <%= f.label :finish_time %>
        </div>
        <%= f.text_field :finish_time, class: "timepickr time-field", placeholder: "--:--" %>
      </div>
    </div>
    <p class="transportation-title"><%= t('.transportation-title') %></p>
    <div class="form-check-box">
      <% Transportation.all.each do |transportation| %>
        <div class="check-box-item">
          <%= check_box_tag "trip[transportation_ids][]", transportation.id, id: "trip_transportation_#{transportation.id}" %>
          <%= label_tag "trip_transportation_#{transportation.id}", transportation.name %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :image, class:"form-label" %>
      <%= f.file_field :image, class:"text-field", onchange: "loadImage(this);" %>
    </div>
    <div id="post_avatar">
    </div>
    <div class="submit">
      <%= f.hidden_field :created_user_id, value: current_user.id %>
      <%= f.submit t('.submit'), class:"submit-botton" %>
    </div>
    <% end %>
  </div>
</div>