<div class="trips-new">
  <div class="card-style">
    <%= form_with model: @trip do |f| %>
    <div class="form-group">
      <i class="fa-solid fa-book-open"></i>
      <%= f.label :title, class:"form-label" %>
      <%= f.text_field :title, class:"text-field" %>
    </div>
    <div class="form-group">
      <i class="fa-solid fa-calendar-days"></i>
      <%= f.label :date, class:"form-label" %>
      <i class="date-sub-title"><%= t('.date-sub-title') %></i>
      <%= f.date_field :date, class:"text-field" %>
    </div>
    <div class="form-group">
      <i class="fa-solid fa-plane"></i>
      <%= f.label :distination, class:"form-label" %>
      <%= f.text_field :distination, class:"text-field" %>
    </div>
    <p class="spot-limit-title"><%= t('.spot-limit-title') %></p>
    <div class="form-spot-limit">
      <div class="spot-suggestion-limit">
        <i class="fa-solid fa-clock"></i>
        <%= f.label :spot_suggestion_limit %><br>
        <%= f.datetime_field :spot_suggestion_limit, class:"spot-field" %>
      </div>
      <div class="spot-vote-limit">
        <i class="fa-solid fa-clock"></i>
        <%= f.label :spot_vote_limit %><br>
        <%= f.datetime_field :spot_vote_limit, class:"spot-field" %>
      </div>
    </div>
    <p class="spot-time-title"><%= t('.spot-time-title') %> </p>
    <div class="form-spot-time">
      <div class="start-time">
        <i class="fa-solid fa-clock"></i>
        <%= f.label :start_time %><br>
        <%= f.time_field :start_time, class:"time-field" %>
      </div>
      <div class="finish-time">
        <i class="fa-solid fa-clock"></i>
        <%= f.label :finish_time %><br>
        <%= f.time_field :finish_time, class:"time-field" %>
      </div>
    </div>
    <p class="transportation-title"><%= t('.transportation-title') %></p>
    <div class="form-check-box">
      <% Transportation.all.each do |transportation| %>
        <div class="check-box-item">
          <%= check_box_tag "trip[transportation_ids][]", transportation.id, id: "trip_transportation_#{transportation.id}" %>
          <%= label_tag "trip_transportation_#{transportation.id}", transportation.name %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :image, class:"form-label" %>
      <%= f.file_field :image, class:"text-field", onchange: "loadImage(this);" %>
    </div>
    <div id="post_avatar">
      <p id="preview"></p>
    </div>
    <div class="submit">
      <%= f.submit t('.submit'), class:"submit-botton" %>
    </div>
    <% end %>
  </div>
</div>