<div class="trips-show">
  <div class="card-style">
    <div class="title">
      <i class="fa-solid fa-book-open"></i>
      <%= @trip.title %>
      <i class="fa-solid fa-book-open"></i>
    </div>
    <div class="trip-detail">
      <div class="icon-label">
        <i class="fa-solid fa-calendar-days"></i>
        <%= Trip.human_attribute_name(:date) %>
      </div>
      <div class="trip-info">
        <%= @trip.date %>
      </div>
    </div>
    <div class="trip-detail">
      <div class="icon-label">
        <i class="fa-solid fa-plane"></i>
        <%= Trip.human_attribute_name(:distination) %>
      </div>
      <div class="trip-info">
        <%= @trip.distination %>
      </div>
    </div>
    <turbo-frame id="phase">
      <div class="label-container">
        <div class="suggestion-vote-hilight-link">
          <%= link_to t('.suggestion-phase'), suggestion_trip_path(@trip), data: { turbo_frame: "phase"} %>
        </div>
        <div class="suggestion-vote-link">
          <%= link_to t('.vote-phase'), vote_trip_path(@trip), data: { turbo_frame: "phase"} %>
        </div>
      </div>
      <div class="suggestion-vote-container">
        <div class="suggestion-vote-card-style">
            <div class="suggestion-vote-limit">
              <%= t('.suggestion-limit') %><%= (@trip.spot_suggestion_limit - Date.today).to_i %>日
            </div>
            <% if @spot_suggestions.present? %>
              <div class="spot-suggestion-vote-headline">
                <%= t(".spot-suggestions") %>
              </div>
              <div class="spot-image-container">
                <% @spot_suggestions.each do |spot| %>
                  <div class="spot-image">
                    <%= link_to spot.spot_name.truncate(8), trip_spot_path(spot) %><br>
                    <%= image_tag spot.image_url, class:"image" %>
                      <% if @spot_suggestion_by_user[spot.id].user_id == current_user.id %>
                        <%= link_to trip_spot_suggestion_path(trip_id: params[:id], spot_id: spot.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"spot-delete-link" do %>
                          <i class="fa-solid fa-xmark"></i>
                          <%= t('.spot_delete')%>
                        <% end %>
                      <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="no-spot-suggestion-vote-headline">
                <%= t('.no-spot-suggestions') %>
              </div>
            <% end %>
            <%= link_to trip_spots_path(@trip) do %>
              <div class="spot-add-container">
                <div class="spot-add">
                  <%= t('.spot-add')%>
                </div>
                <div class="spot-add">
                  <i class="fa-solid fa-circle-plus"></i>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </turbo-frame>  
    <div class="member-container">
      <div class="member-card-style">
        <div class="member-title">
          <%= t('.member') %>
        </div>
        <% @trip.trip_users.each do |trip_user| %>
          <div class="member-name">
            <% if trip_user.host == "leader" %>
              <i class="fa-solid fa-crown member-icon"></i>
            <% end %>
            <%= trip_user.user.name %>
          </div>
        <% end %>
        <div class="member-edit-link">
          <%= link_to t('.member-edit'), class:"member-edit" %>
        </div>
      </div>
    </div>
  </div>
</div>