<div class="trips-show">
  <div class="card-style">
    <%= render "shared/trip_data", trip: @trip %>
    <turbo-frame id="phase">
      <%= render partial: "suggestion", locals: { trip: @trip, spot_suggestions: @spot_suggestions, show_delete_link: true } %>
    </turbo-frame>  
    <div class="member-container">
      <div class="member-card-style">
        <div class="member-title">
          <%= t('.member') %>
        </div>
        <% @trip.trip_users.each do |trip_user| %>
          <div class="member-list">
            <% if trip_user.host == "leader" %>
              <i class="fa-solid fa-crown crown-icon "></i>
            <% else %>
              <i class="fa-solid fa-user user-icon "></i>  
            <% end %>
            <%= trip_user.user.name %>
          </div>
        <% end %>
        <div class="member-edit-link">
          <%= link_to t('.member-edit'), trip_trip_users_path(@trip), class:"member-edit" %>
        </div>
      </div>
    </div>
  </div>
</div>