<div class="trips-show">
  <div class="card-style">
    <%= render "shared/trip_data", trip: @trip %>
    <% if @trip.decided_plan_id.present? %>
      <%= render "shared/plan", trip: @trip, spots: @decided_plan.spots, plan: @decided_plan, plan_create: false, elements: @elements[@decided_plan.id], edit_icon: true %>
    <% else%>
      <turbo-frame id="phase">
        <% if @trip.within_spot_vote_limit_date? %>
          <%= render partial: "suggestion", locals: { trip: @trip, spot_suggestions: @trip.spot_suggestions, show_delete_link: true } %>
        <% else %>
          <%= render partial: "vote_result", locals: { trip: @trip, voted_result: @voted_result } %>
        <% end %>
      </turbo-frame>
    <% end %>
    <div class="member-container">
      <div class="member-card-style">
        <div class="member-title">
          <%= t('.member') %>
        </div>
        <% @trip_users.each do |trip_user| %>
          <div class="member-list">
            <% if trip_user.is_leader == true %>
              <i class="fa-solid fa-crown crown-icon "></i>
            <% elsif trip_user.user_id == current_user.id %>
              <i class="fa-solid fa-user current-user-icon "></i>
            <% else %>
              <i class="fa-solid fa-user user-icon "></i>
            <% end %>
            <%= trip_user.user.name %>
          </div>
        <% end %>
        <div class="member-edit-link">
          <%= link_to t('.member-edit'), trip_trip_users_path(@trip), class:"member-edit" %>
        </div>
      </div>
    </div>
  </div>
</div>