<div class="trips-show">
  <div class="card-style">
    <div class="title">
      <i class="fa-solid fa-book-open"></i>
      <%= @trip.title %>
      <i class="fa-solid fa-book-open"></i>
    </div>
    <div class="trip-detail">
      <div class="icon-label">
        <i class="fa-solid fa-calendar-days"></i>
        <%= Trip.human_attribute_name(:date) %>
      </div>
      <div class="trip-info">
        <%= @trip.date %>
      </div>
    </div>
    <div class="trip-detail">
      <div class="icon-label">
        <i class="fa-solid fa-plane"></i>
        <%= Trip.human_attribute_name(:distination) %>
      </div>
      <div class="trip-info">
        <%= @trip.distination %>
      </div>
    </div>
    <turbo-frame id="phase">
      <%= render partial: "suggestion", locals: { trip: @trip, spot_suggestions: @spot_suggestions, spot_suggestion_by_user: @spot_suggestion_by_user } %>
    </turbo-frame>  
    <div class="member-container">
      <div class="member-card-style">
        <div class="member-title">
          <%= t('.member') %>
        </div>
        <% @trip.trip_users.each do |trip_user| %>
          <div class="member-name">
            <% if trip_user.host == "leader" %>
              <i class="fa-solid fa-crown member-icon"></i>
            <% end %>
            <%= trip_user.user.name %>
          </div>
        <% end %>
        <div class="member-edit-link">
          <%= link_to t('.member-edit'), class:"member-edit" %>
        </div>
      </div>
    </div>
  </div>
</div>