<div class="trip-users-index">
  <div class="card-style">
    <%= render "shared/trip_data", trip: @trip  %>
    <div class="trip-users-card-style">
      <div class="title">
        <%= t('.title') %>
      </div>
      <% @trip_users.each do |trip_user| %>
        <div class="container">
          <div class="icon-name-container">
            <% if trip_user.is_leader %>
              <i class="fa-solid fa-crown crown-icon fa-2x"></i>
            <% elsif trip_user.current_user?(current_user) %>
              <i class="fa-solid fa-user current-user-icon fa-2x"></i>
            <% else %>
              <i class="fa-solid fa-user user-icon fa-2x"></i>
            <% end %>
            <div class="user-name">
              <%= trip_user.user.name %>
            </div>
          </div>
          <div class="update-delete-container">
            <% if trip_user.show_leader_change_link?(current_user: current_user, trip: @trip) %>
              <%= link_to change_leader_trip_trip_user_path(trip_id: @trip.id, id: trip_user.id ), data: { confirm: "本当に変更しますか？"} do %>
                <i class="fa-solid fa-crown member-icon fa-lg"></i>
                <%= t('.update-leader') %>
              <% end %>
              <%= link_to trip_trip_user_path(trip_id: @trip.id, id: trip_user.id), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                <i class="fa-solid fa-xmark"></i>
                <%= t('.delete') %>
              <% end %>
            <% elsif trip_user.show_current_user_delete_link?(current_user: current_user) %>
              <%= link_to trip_trip_user_path(trip_id: @trip.id, id: trip_user.id), method: :delete, data: { confirm: "本当に削除しますか？" } do%>
                <i class="fa-solid fa-xmark"></i>
                <%= t('.exit') %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="trip-show-link">
    <%= link_to t('.trip_show'), trip_path(@trip)%>
  </div>
</div>
