<% plans.each do |plan|%>
  <div class="plans-container">
    <p>プラン<%= plan.title %></p>
    <div class="spots-container">
      <% plan.spots.order(order: :asc).each do |spot| %>
        <div class="spot">
          <%= link_to spot.spot_name.truncate(6, omission: "‥"), trip_spot_path(trip.id, spot.id) %>
          <%= image_tag spot.image_url, class:"image" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="guide-book">
    <div class="guide-headline">
      <div class="time-cell">
        <%= t('plans.index.time')%>
      </div>
      <div class="content-cell">
        <%= t('plans.index.content') %>
      </div>
    </div>
    <% current_time = trip.start_time %>
    <% plan.spots.each_with_index do |spot, i| %>
      <% if i > 0 %>
        <% move_duration = plan.spots[i - 1].move_duration(plan) %>
        <div class="guide-row">
          <div class="time-cell">
            <%= current_time.strftime("%H:%M") %>
          </div>
          <div class="content-cell">
            <%= t('plans.index.move-time') %>(<%= move_duration %>分)
          </div>
        </div>
        <% current_time += move_duration.minutes %>
      <% end %>
      <div class="guide-row">
        <div class="time-cell">
          <%= current_time.strftime("%H:%M") %>
        </div>
        <div class="content-cell">
          <%= link_to trip_spot_path(trip.id, spot.id), class:"spot_link" do %>
            <%= spot.spot_name %>(滞在:<%= spot.category.stay_time %>分)
          <% end %>
        </div>
      </div>
      <% current_time += spot.category.stay_time.minutes %>
      <% if i == plan.spots.length - 1 %>
        <div class="guide-row">
          <div class="time-cell">
            <%= current_time.strftime("%H:%M") %>
          </div>
          <div class="content-cell">
            <%= t('plans.index.finish') %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>