<div class="plan-container">
  <p>プラン<%= plan.title %></p>
  <div class="spots-container">
    <% plan.spots.each do |spot| %>
      <%= render partial: "shared/plan_spots", locals: { trip: trip, spot: spot } %>
    <% end %>
  </div>
  <div class="guide-book">
    <div class="guide-headline">
      <div class="time-cell">
        <%= t('plans.index.time')%>
      </div>
      <div class="content-cell">
        <%= t('plans.index.content') %>
      </div>
    </div>
    <% current_time = trip.start_time %>
    <% plan.spots.each_with_index do |spot, i| %>
      <% if i > 0 %>
        <% move_duration = plan.spots[i - 1].move_duration(plan) %>
        <div class="guide-row">
          <div class="time-cell">
            <%= current_time.strftime("%H:%M") %>
          </div>
          <div class="content-cell">
            <%= t('plans.index.move-time') %>(<%= move_duration %>分)
          </div>
        </div>
        <% current_time += move_duration.minutes %>
      <% end %>
      <%= render partial: "shared/schedule", locals: { spot: spot, i: i, current_time: current_time, trip: trip, plan_spots: plan.spots, plan: plan} %>
      <% current_time += spot.category.stay_time.minutes %>
      <% if i == plan.spots.length - 1 %>
        <div class="guide-row">
          <div class="time-cell">
            <%= current_time.strftime("%H:%M") %>
          </div>
          <div class="content-cell">
            <%= t('plans.index.finish') %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
