<div class="plan-container" data-plan-id="<%= plan.id %>">
  <div class="selected">
    <%= t('plans.index.selected')%>
  </div>
  <p>プラン<%= plan.title %></p>
  <div class="spots-container">
    <% plan.spots.each do |spot| %>
      <%= render partial: "shared/plan_spots", locals: { trip: trip, spot: spot } %>
    <% end %>
  </div>
  <% if edit_icon %>
    <div class="edit-icon">
      <%= link_to edit_trip_plan_path(trip.id, plan.id) do %>
        <i class="fa-solid fa-pen-to-square fa-2x"></i>
      <% end %>
    </div>
  <% end %>
  <div class="guide-book">
    <div class="guide-headline">
      <div class="time-cell">
        <%= t('plans.index.time')%>
      </div>
      <div class="content-cell">
        <%= t('plans.index.content') %>
      </div>
    </div>
    <% elements.each_with_index do |element, index| %>
      <% if index == elements.length - 1 %>
          <div class="guide-row">
            <div class="time-cell">
              <%= element[:time] %>
            </div>
            <div class="content-cell">
              <%= element[:content] %>
            </div>
          </div>
          <% break %>
        <% end %>
      <% if index.even? %>
        <div class="guide-row">
          <div class="time-cell">
            <%= element[:time] %>
          </div>
          <div class="content-cell">
            <%= link_to element[:spot_name], trip_spot_path(trip.id, element[:spot_id].to_i) %>(<%= t('plans.index.stay-time') %>:<%= element[:content]%>分)
          </div>
        </div>
      <% else %>
        <div class="guide-row">
          <div class="time-cell">
            <%= element[:time] %>
          </div>
          <div class="content-cell">
            <%= t('plans.index.move-time') %>(<%= element[:content]%>分)
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if plan_create %>
    <div class="dot-icon">
      <% size.times.each_with_index do |icon, icon_index| %>
        <% if plan_index == icon_index %>
          <i class="fa-solid fa-circle"></i>
        <% else %>
          <i class="fa-regular fa-circle"></i>
        <% end %>
      <% end %>
    </div>
    <div class="select-form">
      <button type ="button" class="selected-button"><%= t('plans.index.selected-plan') %></button>
    </div>
  <% end %>
</div>
