<div class="homes-index">
  <div class="card-style">
    <h1 class="title"><%= t('.title')%></h1>
    <div class="image-user-data">
      <div class="image">
        画像
      </div>
      <div class="user-data">
        <div class="user-data-card-style">
          <h2 class="user-data-title"><%= t('.user-data-title')%></h2>
          <div class="user-name">
            <%= User.human_attribute_name(:name) %>:<%= current_user.name %>
          </div>
          <div class="user-email">
            <%= User.human_attribute_name(:email) %>:<%= current_user.email %>
          </div>
        </div>
      </div>
    </div>
    <h2 class="in-progress-trip-title"><%= t('.in-progress-trip-title') %></h2>
    <div class="no-in-progress-trip">
      <p><%= t('.no-in-progress-trip')%></p>
    </div>
    <h2 class="past-trip-title"><%= t('.past-trip-title') %></h2>
    <div class="no-past-trip">
      <p><%= t('.no-past-trip') %></p>
    </div>
    <div class="new-trip">
      <%= link_to t('.new-trip') %>
    </div>
    <div class="join-trip">
      <%= link_to t('.join-trip')%>
    </div>
  </div>
</div>