<div class="homes-index">
  <div class="card-style">
    <h1 class="title"><%= t('.title')%></h1>
    <div class="image-user-data">
      <div class="image">
        <%= image_tag current_user.avatar.variant(resize_to_fit: [180,180]),class:"img" %>
      </div>
      <div class="user-data">
        <div class="user-data-card-style">
          <div class="user-data-title">
            <strong class="user-title"><%= t('.user-data-title') %></strong>
            <%= link_to edit_user_registration_path do %>
              <i class="fa-solid fa-user-pen user-edit-icon fa-lg"></i>
            <% end %>
          </div>
          <div class="user-name">
            <%= User.human_attribute_name(:name) %>:<%= current_user.name %>
          </div>
          <div class="user-email">
            <%= User.human_attribute_name(:email) %>:<%= current_user.email %>
          </div>
        </div>
      </div>
    </div>
    <h2 class="in-progress-trip-title"><%= t('.in-progress-trip-title') %></h2>
      <% if @trips_in_progress_first_row.present? %>
        <div class="trips-container centering">
          <%= render partial: "trip_card", collection: @trips_in_progress_first_row, :as => "trip_card", locals: { trip_users: @trip_users } %>
        </div>
      <% if @trips_in_progress_other_row.present? %>
        <div class="trips-container left-align">
          <%= render partial: "trip_card", collection: @trips_in_progress_other_row, :as => "trip_card", locals: { trip_users: @trip_users} %>
        </div>
      <% end %>
      <% else %>
      <div class="no-in-progress-trip">
        <p><%= t('.no-in-progress-trip')%></p>
      </div>
      <% end %>
    <h2 class="past-trip-title"><%= t('.past-trip-title') %></h2>
    <div class="no-past-trip">
      <% if @trips_past.presence %>
      <% else%>
        <p><%= t('.no-past-trip') %></p>
      <% end %>
    </div>
    <div class="new-trip">
      <%= link_to new_trip_path, class: "link-custom"  do %>
        <%= t('.new-trip') %>
        <i class="fa-solid fa-circle-plus add-icon fa-lg"></i>
      <% end %>
    </div>
  </div>
</div>
