<div class="homes-index">
  <div class="card-style">
    <h1 class="title"><%= t('.title')%></h1>
    <div class="image-user-data">
      <div class="image">
        <%= image_tag current_user.get_user_avatar.variant(resize_to_fit: [180,180]),class:"img" %>
      </div>
      <div class="user-data">
        <div class="user-data-card-style">
          <div class="user-data-title">
            <strong class="user-title"><%= t('.user-data-title') %></strong>
            <%= link_to edit_user_registration_path do %>
              <i class="fa-solid fa-user-pen user-edit-icon fa-lg"></i>
            <% end %>
          </div>
          <div class="user-name">
            <%= User.human_attribute_name(:name) %>:<%= current_user.name %>
          </div>
          <div class="user-email">
            <%= User.human_attribute_name(:email) %>:<%= current_user.email %>
          </div>
        </div>
      </div>
    </div>
    <h2 class="in-progress-trip-title"><%= t('.in-progress-trip-title') %></h2>
      <% if @trips_in_progress.presence %>
        <div class="trips-container">
          <% @trips_in_progress.each do |t| %>
            <div class="trips-card-style">
              <%= link_to trip_path(t), class:"trip-link" do %>
                <div class="trip-title">
                  <%= t.title %>
                </div>
                <% if t.image.attached? %>
                  <%= image_tag t.image.variant(resize_to_fill: [200,130]) %>
                <% end %>
                <div class="member">
                  <%= t('.member')%>
                </div>
                <% t.members.each do |member| %>
                  <div class="member-list">
                    <% if member.host == "leader" %>
                      <i class="fa-solid fa-crown"></i>
                    <% end %>
                    <%= member.user.name %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
      <div class="no-in-progress-trip">
        <p><%= t('.no-in-progress-trip')%></p>
      </div>
      <% end %>
    <h2 class="past-trip-title"><%= t('.past-trip-title') %></h2>
    <div class="no-past-trip">
      <% if @trips_past.presence %>
      <% else%>
        <p><%= t('.no-past-trip') %></p>
      <% end %>
    </div>
    <div class="new-trip">
      <%= link_to new_trip_path, class: "link-custom"  do %>
        <%= t('.new-trip') %>
        <i class="fa-solid fa-circle-plus add-icon fa-lg"></i>
      <% end %>
    </div>
    <div class="join-trip">
      <%= link_to class: "link-custom" do %>
        <%= t('.join-trip') %>
        <i class="fa-solid fa-users user-icon fa-lg"></i>
      <% end %>
    </div>
  </div>
</div>