<div class="password-new">
  <div class="card-style">
    <div class="title">
      <h5><%= t('.title')%></h5>
    </div>
    <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|%>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.email_field :email, class: "text-field" %>
      </div>
      <div class="submit-form">
        <%= f.submit t('.submit') , class:"submit-button" %>
      </div>
    <% end %>
    <div class="link">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
